/* Define Properties */

    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,600&display=swap');

:root {

    
    --clr: whitesmoke;
    --bgclr: #242424f4;
    

}

* {

    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {

    
    /* overflow: clip; */
    /* overflow-y: visible; */
    margin: 0;
    /* padding-top: 13vh; */
    padding: 11vh 0 0 0;
    /* overflow: hidden; */
    position: absolute;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
            display: flex;
            justify-content: space-between;
            /* overflow: clip; */
    transition: 1.5s ease, color 1.5s ease;
    

}

body:hover > #trailer {

    
    opacity: 1;
    

}

body.dark-theme {


    color: var(--clr); /* Adjust the text color for dark mode */
    background-color: var(--bgclr);
    padding: 12vh 0 0 0;
    /* margin: 0; */
    /* overflow: hidden; */

}

a {

    
    color: antiquewhite;
    text-decoration: none;
    

}

footer > div {

    
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    /* top: 100vh; */
    bottom: 0;
    left: 0;
    right: 0;
    filter: drop-shadow(1px 3px 1px #a52a2a);
    

}

.nf-cod-code {

    
    font-size: 1.3em;
    

}

.nf-fa-heart {

    
    font-size: 1.5em;
    color: red;
    

}

::-webkit-scrollbar {

    
    width: 1em;
    height: 1em;
    

}

::-webkit-scrollbar-track {

    
    background: hsla(0, 20%, 50%, 0.9);
    filter: blur(10px);
    border: .35em solid hsla(0, 20%, 20%, 0.671);
    margin-block: .05em;
    border-radius: 3vw;
    

}

::-webkit-scrollbar-thumb {

    
    background: hsla(0, 30%, 30%, 0.6);
    border: .25em solid hsla(0, 20%, 20%, 0.671);
    border-radius: 3vw;
    

}

p:hover {

    
    margin: 0;
    pointer-events: none;
    

}

p {

    
    font-family: 'Rubik';
    font-size: 20px;
    

}
